@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'sans';
  padding: 0;
  margin: 0;
  color: #777;
}

a {
  color: inherit;
  text-decoration: none;
}

.animate-shake {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px) rotate(-5deg);
  }
  50% {
    transform: translateX(10px) rotate(5deg);
  }
  75% {
    transform: translateX(-10px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.textBorder {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.textBorder2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #777;
}
